<% layout('./layout/page') -%>
<% block('title', error.message) %>
<div class="container containerCategor">
    <p style="color: white">Извините, произошла ошибка.</p>
    <p style="color: white"><%=error.message%></p>
</div>