<% layout('./layout/page') -%>
<% block('title', ' Valensiya - Интернет-магазин одежды'); %>

<section class="lead"></section>
<div class="container containerCategor">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <a href="women">
                <img src="./images/women.jpg" alt="Женская одежда" class="img-responsive">
                <h2>Женская одежда</h2>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <a href="men">
                <img src="./images/men.jpg" alt="Мужская одежда" class="img-responsive">
                <h2>Мужская одежда</h2>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <a href="children">
                <img src="./images/children.jpg" alt="Детская одежда" class="img-responsive">
                <h2>Детская одежда</h2>
            </a>
        </div>
    </div>
</div>
<div class="fon container">
    <p class="centr">У нас большой выбор товаров</p>
    <p>В интернет-магазине одежды Valensiya каждый может выбрать и купить одежду в 2 клика, не выходя из дома!</p>
    <p>В каталоге интернет-магазина Valensiya большое количество брендов мужской, женской и детской одежды разных
        ценовых категорий. Ассортимент постоянно пополняется!</p>
    <p class="centr">Доставка с примеркой
    <p>У нас есть собственная служба доставки Valensiya Express, которая работает в 66 крупнейших городах России: Москва
        и МО, Белгород, Санкт-Петербург, Нижний Новгород, Новосибирск, Екатеринбург, Самара, Тольятти, Тюмень, Челябинск
        и другие. Срок доставки — 1-2 дня. Бесплатная доставка по всей России!</p>
    <p>Примерьте перед покупкой! Интернет-магазин Valensiya даёт возможность примерить одежду перед оплатой заказа
        курьеру. Оплачивайте только то, что вам подошло и понравилось!</p>
    <p class="centr">Оплата и возврат</p>
    <p>Интернет-магазин одежды Valensiya позволяет абсолютно бесплатно вернуть товар в течение 14 дней, не
        считая дня покупки. Вернуть товары можно как с курьером до оплаты заказа, так и по почте или в одном из пунктов
        выдачи заказов в Белгороде.</p>
    <p>Вы можете оплатить покупки не только наличными, но и банковскими картами, а также через Paypal. У всех курьеров
        Valensiya Express при себе есть терминал для оплаты картами.</p>
</div>