<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   <!--internet explorer-->
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--адаптация под ширину устройства, маштаб=1-->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Интернет-магазин одежды Valensiya</title>

    <!-- Bootstrap -->
    <link href="./vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="./vendor/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <header>
        <div class="navbar navbar-fixed-top vertical">
            <a class="brand" href="#">
                <img src="./images/logo3.JPG" alt="Valensiya">
            </a>
            <span>Будь шикарным каждый день!</span>
            <ul class="nav nav-pills pull-right ">
                <li><a href="#">Корзина</a></li>
                <li><a href="#">Войти</a></li>
                <li><a href="#">Регистрация</a></li>
            </ul>
        </div>
    </header>

    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <a href="product.html">
                <img src="./images/women.jpg" alt="Женская одежда"class="img-responsive">
                <h2>Женская одежда</h2>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <a href="product.html">
                <img src="./images/men.jpg" alt="Мужская одежда"class="img-responsive">
                <h2>Мужская одежда</h2>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <a href="product.html">
                <img src="./images/children.jpg" alt="Детская одежда"class="img-responsive">
                <h2>Детская одежда</h2>
            </a>
        </div>
    </div>
    </div>
    <div class="fon container">
        <p>Это наш замечательный сайт</p>
        <p>er</p>
        <p>er</p>
        <p>er</p>
        <p> er</p>
        <p>er</p>
        <p>er</p>
        <p>re</p>
        <p>re</p>
        <p>rtgf</p>
        <p>rwtg</p>
        <p>rtgf</p>
        <p>rtgfrtgfr</p>
        <p>tg</p>
        <p>rtfg</p>
        <p>rtgv</p>
        <p>rtgrtg</p>
        <p> rtg</p>
        <p>tr</p>
        <p> rtg</p>
        <p>tr</p>
    </div>
    <div id="back-to-top">
        <i class="fa fa-chevron-up"> Наверх</i>
    </div>
    <script src="./javascripts/btnGoToTop.js"></script>
    <footer class="footer">
        <small>&copy; 2016 Valensiya</small>
    </footer>
</body>
</html>