<h3>Детская одежда</h3>
<div class="btn-group btn-group-vertical">
    <a href="goods?section=Д">
        <button class="btn categors">Все</button>
    </a>
    <a href="goods?section=Д&category=Платья">
        <button class="btn categors">Платья</button>
    </a>
    <a href="goods?section=Д&category=Рубашки">
        <button class="btn categors">Рубашки</button>
    </a>
    <a href="goods?section=Д&category=Брюки">
        <button class="btn categors">Брюки</button>
    </a>
    <a href="goods?section=Д&category=Юбки">
        <button class="btn categors">Юбки</button>
    </a>
    <a href="goods?section=Д&category=Толстовки">
        <button class="btn categors">Толстовки</button>
    </a>
    <a href="goods?section=Д&category=Футболки">
        <button class="btn categors">Футболки</button>
    </a>
    <a href="goods?section=Д&category=Майки">
        <button class="btn categors">Майки</button>
    </a>
</div>
