<h3>Мужская одежда</h3>
<div class="btn-group btn-group-vertical">
    <a href="goods?section=М">
        <button class="btn categors">Все</button>
    </a>
    <a href="goods?section=М&category=Пиджаки">
        <button class="btn categors">Пиджаки</button>
    </a>
    <a href="goods?section=М&category=Рубашки">
        <button class="btn categors">Рубашки</button>
    </a>
    <a href="goods?section=М&category=Брюки">
        <button class="btn categors">Брюки</button>
    </a>
    <a href="goods?section=М&category=Шорты">
        <button class="btn categors">Шорты</button>
    </a>
    <a href="goods?section=М&category=Джинсы">
        <button class="btn categors">Джинсы</button>
    </a>
    <a href="goods?section=М&category=Толстовки">
        <button class="btn categors">Толстовки</button>
    </a>
    <a href="goods?section=М&category=Футболки">
        <button class="btn categors">Футболки</button>
    </a>
    <a href="goods?section=М&category=Майки">
        <button class="btn categors">Майки</button>
    </a>
</div>
