<% if (count>0){%>
<%var i=1;%>
<ul class="pagination pagination-centered list-unstyled">
    <li><a href="#">&laquo</a></li>
    <% while (count>i) {%>
    <li><a href="#">i</a></li>
    <% i++;}%>
    <li><a href="#">&raquo</a></li>
</ul>
<%}%>