<h3>Женская одежда</h3>
<div class="btn-group btn-group-vertical">
    <a href="goods?section=Ж">
        <button class="btn categors">Все</button>
    </a>
    <a href="goods?section=Ж&category=Платья">
        <button class="btn categors">Платья</button>
    </a>
    <a href="goods?section=Ж&category=Юбки">
        <button class="btn categors">Юбки</button>
    </a>
    <a href="goods?section=Ж&category=Брюки">
        <button class="btn categors">Брюки</button>
    </a>
    <a href="goods?section=Ж&category=Шорты">
        <button class="btn categors">Шорты</button>
    </a>
    <a href="goods?section=Ж&category=Джинсы">
        <button class="btn categors">Джинсы</button>
    </a>
    <a href="goods?section=Ж&category=Блузки">
        <button class="btn categors">Блузки</button>
    </a>
    <a href="goods?section=Ж&category=Толстовки">
        <button class="btn categors">Толстовки</button>
    </a>
    <a href="goods?section=Ж&category=Футболки">
        <button class="btn categors">Футболки</button>
    </a>
    <a href="goods?section=Ж&category=Майки">
        <button class="btn categors">Майки</button>
    </a>
</div>
